.navbar {
    display:flex;/* Use Flexbox for proper alignment */
    position: relative;
    justify-content: space-between; /* Pushes content apart */
    align-items: center; /* Centers items vertically */
    background-color: lightblue;
    padding: 10px 20px; /* Adds some spacing */
    flex-wrap: nowrap;
}
.navbar a {
    text-decoration: none;
    color: black;
    padding: 14px 16px;
}
    
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
    
.navbar-image {
    margin-left: auto; /* Pushes icon to the right */
    height: 30px;
}

body {
    font-family: Cambria, sans-serif;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: center;
    justify-items: center;
}
#text {
    background-color: #f4f4f4;
    padding: 5%;
    height: 80%;
    border: 1px solid #ddd;
    text-align: center;
    margin: 5%;
    margin-bottom: 5%;
}
.grid-item img {
    width: 100%;
    height: 90%;
    margin-top: 5%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 5%;
}

.Description p {
    color: #555
}

.footer{
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}
